body {
  min-width: 320px;
  background-color: darkgreen;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}

nav {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.control-group {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.deal {
  padding: 5px 20px;
  margin-left: 10px;
}

.score {
  padding: 0 15px;
}

.switch {
  margin-left: 5px;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #5cb85c;
}

input:focus + .slider {
  box-shadow: 0 0 1px #5cb85c;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.row {
  margin: 0 15px;

  @media #{$md-breakpoint} {
    margin: 0 45px;
  }

  @media #{$lg-breakpoint} {
    width: 100%;
    max-width: 1190px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.header {
  display: flex;
  margin-top: 15px;

  @media #{$md-breakpoint} {
    margin-top: 30px;
  }

  img {
    width: 50px;
    height: 50px;

    @media #{$sm-breakpoint} {
      width: 65px;
      height: 65px;
    }
  }

  h1 {
    font-size: 22px;
    margin: 14px 0 14px 10px;

    @media #{$sm-breakpoint} {
      font-size: 32px;
    }
  }

  a {
    align-self: center;
    margin-left: auto;
    color: #fff;

    &:hover {
      text-decoration: none;
    }
  }
}
