.first-row,
.second-row {
  display: grid;
  column-gap: 5px;
  grid-template-columns: repeat(7, 1fr);

  @media #{$sm-breakpoint} {
    column-gap: 10px;
  }

  @media #{$md-breakpoint} {
    column-gap: 15px;
  }

  @media #{$lg-breakpoint} {
    column-gap: 20px;
  }
}

.first-row {
  margin-bottom: 30px;

  @media #{$sm-breakpoint} {
    margin-bottom: 60px;
  }

  @media #{$lg-breakpoint} {
    margin-bottom: 80px;
  }
}

.pile {
  position: relative;
  padding-bottom: calc(218 / 152 * 100%);
  box-sizing: border-box;
  border: 1px solid #333;
  border-radius: 5px;
}

.placeholder-pile {
  visibility: hidden;
}

.stock-pile {
  background-image: url("/src/assets/card_back.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}


.heart::before {
  content: "\2665";
}

.diamond::before {
  content: "\2666";
}

.spade::before {
  content: "\2660";
}

.club::before {
  content: "\2663";
}

.heart,
.diamond,
.spade,
.club {
  &::before {
    position: absolute;
    width: 100%;
    top: 25%;
    left: 0;
    font-size: 8vw;
    line-height: 1;
    text-align: center;
    color: #333;
    opacity: 0.6;

    @media #{$sm-breakpoint} {
      font-size: 10vw;
      top: 20%;
    }

    @media #{$md-breakpoint} {
      font-size: 100px;
      top: 22%;
    }
  }
}


