.first-row,
.second-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.first-row {
  margin-bottom: 80px;
}

.pile {
  position: relative;
  width: 150px;
  height: 218px;
  margin-right: 15px;
  box-sizing: border-box;
  border: 1px solid #333;
  border-radius: 5px;
  flex-shrink: 0; // for now

  &:last-of-type {
    margin-right: 0;
  }
}

.placeholder-pile {
  visibility: hidden;
}

.stock-pile {
  background-image: url("/src/assets/card_back.svg");
  background-size: 150px 218px;
}

.heart::before {
  position: absolute;
  top: 45%;
  right: 25%;
  transform: translate(0, -50%);
  content: "\2665";
  font-size: 100px;
  color: #333;
  opacity: 0.6;
}

.diamond::before {
  position: absolute;
  top: 45%;
  right: 25%;
  transform: translate(0, -50%);
  content: "\2666";
  font-size: 100px;
  color: #333;
  opacity: 0.6;
}

.spade::before {
  position: absolute;
  top: 45%;
  right: 25%;
  transform: translate(0, -50%);
  content: "\2660";
  font-size: 100px;
  color: #333;
  opacity: 0.6;
}

.club::before {
  position: absolute;
  top: 45%;
  right: 25%;
  transform: translate(0, -50%);
  content: "\2663";
  font-size: 100px;
  color: #333;
  opacity: 0.6;
}
