.card {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("/src/assets/card_back.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 5px;
  //box-shadow: 0 0 5px rgb(0 0 0 / 25%), 0 2px 1px rgb(0 0 0 / 50%);

  &.selected {
    box-shadow: 0 0 5px rgb(255 255 0 / 90%), 0 2px 1px rgb(255 255 0 / 90%);
  }

  &.up {
    /* Kings */
    &[data-rank="K"][data-suit="club"] {
      background-image: url("/src/assets/king_of_clubs.svg");
    }

    &[data-rank="K"][data-suit="heart"] {
      background-image: url("/src/assets/king_of_hearts.svg");
    }

    &[data-rank="K"][data-suit="diamond"] {
      background-image: url("/src/assets/king_of_diamonds.svg");
    }

    &[data-rank="K"][data-suit="spade"] {
      background-image: url("/src/assets/king_of_spades.svg");
    }

    /* Queens */
    &[data-rank="Q"][data-suit="club"] {
      background-image: url("/src/assets/queen_of_clubs.svg");
    }

    &[data-rank="Q"][data-suit="heart"] {
      background-image: url("/src/assets/queen_of_hearts.svg");
    }

    &[data-rank="Q"][data-suit="diamond"] {
      background-image: url("/src/assets/queen_of_diamonds.svg");
    }

    &[data-rank="Q"][data-suit="spade"] {
      background-image: url("/src/assets/queen_of_spades.svg");
    }

    /* Jacks */
    &[data-rank="J"][data-suit="club"] {
      background-image: url("/src/assets/jack_of_clubs.svg");
    }

    &[data-rank="J"][data-suit="heart"] {
      background-image: url("/src/assets/jack_of_hearts.svg");
    }

    &[data-rank="J"][data-suit="diamond"] {
      background-image: url("/src/assets/jack_of_diamonds.svg");
    }

    &[data-rank="J"][data-suit="spade"] {
      background-image: url("/src/assets/jack_of_spades.svg");
    }

    /* Aces */
    &[data-rank="A"][data-suit="club"] {
      background-image: url("/src/assets/ace_of_clubs.svg");
    }

    &[data-rank="A"][data-suit="heart"] {
      background-image: url("/src/assets/ace_of_hearts.svg");
    }

    &[data-rank="A"][data-suit="diamond"] {
      background-image: url("/src/assets/ace_of_diamonds.svg");
    }

    &[data-rank="A"][data-suit="spade"] {
      background-image: url("/src/assets/ace_of_spades.svg");
    }

    /* 10s */
    &[data-rank="10"][data-suit="club"] {
      background-image: url("/src/assets/10_of_clubs.svg");
    }

    &[data-rank="10"][data-suit="heart"] {
      background-image: url("/src/assets/10_of_hearts.svg");
    }

    &[data-rank="10"][data-suit="diamond"] {
      background-image: url("/src/assets/10_of_diamonds.svg");
    }

    &[data-rank="10"][data-suit="spade"] {
      background-image: url("/src/assets/10_of_spades.svg");
    }

    /* 9s */
    &[data-rank="9"][data-suit="club"] {
      background-image: url("/src/assets/9_of_clubs.svg");
    }

    &[data-rank="9"][data-suit="heart"] {
      background-image: url("/src/assets/9_of_hearts.svg");
    }

    &[data-rank="9"][data-suit="diamond"] {
      background-image: url("/src/assets/9_of_diamonds.svg");
    }

    &[data-rank="9"][data-suit="spade"] {
      background-image: url("/src/assets/9_of_spades.svg");
    }

    /* 8s */
    &[data-rank="8"][data-suit="club"] {
      background-image: url("/src/assets/8_of_clubs.svg");
    }

    &[data-rank="8"][data-suit="heart"] {
      background-image: url("/src/assets/8_of_hearts.svg");
    }

    &[data-rank="8"][data-suit="diamond"] {
      background-image: url("/src/assets/8_of_diamonds.svg");
    }

    &[data-rank="8"][data-suit="spade"] {
      background-image: url("/src/assets/8_of_spades.svg");
    }

    /* 7s */
    &[data-rank="7"][data-suit="club"] {
      background-image: url("/src/assets/7_of_clubs.svg");
    }

    &[data-rank="7"][data-suit="heart"] {
      background-image: url("/src/assets/7_of_hearts.svg");
    }

    &[data-rank="7"][data-suit="diamond"] {
      background-image: url("/src/assets/7_of_diamonds.svg");
    }

    &[data-rank="7"][data-suit="spade"] {
      background-image: url("/src/assets/7_of_spades.svg");
    }

    /* 6s */
    &[data-rank="6"][data-suit="club"] {
      background-image: url("/src/assets/6_of_clubs.svg");
    }

    &[data-rank="6"][data-suit="heart"] {
      background-image: url("/src/assets/6_of_hearts.svg");
    }

    &[data-rank="6"][data-suit="diamond"] {
      background-image: url("/src/assets/6_of_diamonds.svg");
    }

    &[data-rank="6"][data-suit="spade"] {
      background-image: url("/src/assets/6_of_spades.svg");
    }

    /* 5s */
    &[data-rank="5"][data-suit="club"] {
      background-image: url("/src/assets/5_of_clubs.svg");
    }

    &[data-rank="5"][data-suit="heart"] {
      background-image: url("/src/assets/5_of_hearts.svg");
    }

    &[data-rank="5"][data-suit="diamond"] {
      background-image: url("/src/assets/5_of_diamonds.svg");
    }

    &[data-rank="5"][data-suit="spade"] {
      background-image: url("/src/assets/5_of_spades.svg");
    }

    /* 4s */
    &[data-rank="4"][data-suit="club"] {
      background-image: url("/src/assets/4_of_clubs.svg");
    }

    &[data-rank="4"][data-suit="heart"] {
      background-image: url("/src/assets/4_of_hearts.svg");
    }

    &[data-rank="4"][data-suit="diamond"] {
      background-image: url("/src/assets/4_of_diamonds.svg");
    }

    &[data-rank="4"][data-suit="spade"] {
      background-image: url("/src/assets/4_of_spades.svg");
    }

    /* 3s */
    &[data-rank="3"][data-suit="club"] {
      background-image: url("/src/assets/3_of_clubs.svg");
    }

    &[data-rank="3"][data-suit="heart"] {
      background-image: url("/src/assets/3_of_hearts.svg");
    }

    &[data-rank="3"][data-suit="diamond"] {
      background-image: url("/src/assets/3_of_diamonds.svg");
    }

    &[data-rank="3"][data-suit="spade"] {
      background-image: url("/src/assets/3_of_spades.svg");
    }

    /* 2s */
    &[data-rank="2"][data-suit="club"] {
      background-image: url("/src/assets/2_of_clubs.svg");
    }

    &[data-rank="2"][data-suit="heart"] {
      background-image: url("/src/assets/2_of_hearts.svg");
    }

    &[data-rank="2"][data-suit="diamond"] {
      background-image: url("/src/assets/2_of_diamonds.svg");
    }

    &[data-rank="2"][data-suit="spade"] {
      background-image: url("/src/assets/2_of_spades.svg");
    }
  }
}

.tableau-pile .card {
  &:nth-of-type(2) {
    top: 30px;
  }

  &:nth-of-type(3) {
    top: 60px;
  }

  &:nth-of-type(4) {
    top: 90px;
  }

  &:nth-of-type(5) {
    top: 120px;
  }

  &:nth-of-type(6) {
    top: 150px;
  }

  &:nth-of-type(7) {
    top: 180px;
  }

  &:nth-of-type(8) {
    top: 210px;
  }

  &:nth-of-type(9) {
    top: 240px;
  }

  &:nth-of-type(10) {
    top: 270px;
  }

  &:nth-of-type(11) {
    top: 300px;
  }

  &:nth-of-type(12) {
    top: 330px;
  }

  &:nth-of-type(13) {
    top: 360px;
  }
}
